:root {
--black: #00000;
--greyBackground: #e6e6e6;
--cornerOrange: #f9a01b;
--cornerPurple: #8478b6;
--TripPlanColor: #ed5f72;
--cornerGrey: #a5aaa8;
--cornerGreyWhite: #f4f3f3;
--beige: #f3ebd8;
}

/* text for logo: ahsing   
text for description: The Seasons
Button & Nav Bar: Poppins Medium
email & Web/ Footnotes: Montserrat Light 
Sign up text: Alegreya Sans Black
Explore Travel: Kollektif
Made with: Lustria

*/